/* write your css here */
*{
    overflow-x: hidden;
    box-sizing: border-box;
}
.textcolor{
   
    background: var(--Gradient-05, linear-gradient(118deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cross-section{
    background: url("./assets/Images/bghome.svg");
    background-color: #F9F9F9; 
    background-size: contain;
    z-index: 10;

}

.card{
  z-index: 50;

}
textarea, input { outline: none; }

/* .profiledropdown{
    position: absolute;
    top: 118%;
    z-index: 1000;

}
.profilebutton{
    position: relative;
    z-index: 555;
} */