/* write your css here */
*{
    overflow-x: hidden;
    box-sizing: border-box;
}
.textcolor{
   
    background: var(--Gradient-05, linear-gradient(118deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cross-section{
    background: url("./assets/Images/bghome.svg");
    background-color: #F9F9F9; 
    background-size: contain;
    z-index: 10;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.orangeTextColor{
    background: var(--Gradient-05, linear-gradient(118deg, #FF512F -4.8%, #F09819 107.46%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.yellowTextcolor{
    background: var(--Gradient-05, linear-gradient(118deg, #E65C00 -6.05%, #F9D423 106.11%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headingTextColor{
    background: var(--Gradient-05, linear-gradient(118deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.gradient-about{
    width: 372.949px;
    height: 257.054px;
    border-radius: 372.949px;
    opacity: 0.2;
    background: var(--Gradient-09, linear-gradient(118deg, #EC008C -0.91%, #FC6767 104.91%));
    filter: blur(34px);
}
.card{
  z-index: 50;

}
textarea, input { outline: none; }

/* .profiledropdown{
    position: absolute;
    top: 118%;
    z-index: 1000;

}
.profilebutton{
    position: relative;
    z-index: 555;
} */